:root {
  --primary-color: #decfa3;
  --white-color: #fff;
}

.middle-box {
  min-width: 60rem;
  border-radius: 2px;
  padding: 3rem;
  text-align: center;
  position: relative;
}

.middle-box__title {
  font-size: 4.5rem;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: 0.5rem;
  line-height: 1;
  font-weight: 300;
}

.middle-box__subtitle {
  color: var(--white-color);
  font-weight: 300;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 5;
  /* margin-bottom: 6.8rem; */
}

.middle-box p {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  color: var(--primary-color);
  line-height: 1.5;
}

.middle-box form {
  margin: 0 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-box input[type='email'] {
  outline: none;
  border: none;
  font-family: inherit;
  padding: 2.4rem 0 2.4rem 2rem;
  font-size: 1.6rem;
  margin-right: 1rem;
  width: 60%;
  height: 6rem;
}

::placeholder {
  font-size: 1.2rem;
  font-weight: 300;
}

.middle-box button {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  padding: 1.7rem 0.5rem;
  height: 6rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  width: 40%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0.2rem;
}

.middle-box button .text {
  transition: all 0.4s ease-in-out;
  width: 100%;
  display: inline-block;
}

.middle-box button::after {
  content: 'Me tenir informé';
  position: absolute;
  top: 200%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}

.middle-box button:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

.middle-box button:hover .text {
  transform: translateY(-200%);
}

.middle-box button:hover::after {
  top: 50%;
}

.middle-box .logo {
  margin: 0 0 5rem 0;
  width: 30rem;
  /* animation: rotateTimer 3s ease infinite; */
}

.middle-box .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-box .social__link .social__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
  margin: 2rem 2rem 0 0;
}

@keyframes rotateTimer {
  40% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .middle-box .middle-box__subtitle {
    width: 100%;
  }
  .middle-box {
    width: 40rem;
    padding: 5rem 4rem;
  }
  .middle-box form {
    flex-direction: column;
  }
  .middle-box input[type='email'] {
    width: 70%;
    margin: 0 0 1rem 0;
  }

  .middle-box button {
    display: block;
    width: 40%;
  }
}
